.main{
    position: absolute;
    width:100%;
    margin-top: 100px;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.card-movie{
    height: 440px;
    width: 300px;
    background-color: #C46DF4;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

.movie__title{
    text-align: center;
}

.movie__title .title{
    font-size: 25px;
}

.movie__img{
    width: 250px;
    height: 250px;
}

.movie__info{
    font-size: 18px;
    text-align: justify;
}