.main{
    position: absolute;
    width:100%;
    margin-top: 80px;
    display:flex;
    flex-direction: column;
    align-items: center;
    padding: 0;

}

.card-movie{
    height: 440px;
    width: 333px;
    background-color: #4617EB;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    border-radius: 3px;
}

.movie__title{
    margin-top: 10px;
    text-align: center;
}

.movie__title .title{
    font-size: 22px;
    color: #F08F00;
}

.movie__img{
    width: 250px;
    height: 250px;
}

.movie__info{
    padding: 10px;
    font-size: 18px;
    text-align: justify;
    color: white;
}

.movie-list{
    padding: 0;
}