.main{
    position: absolute;
    width:100%;
    margin-top: 80px;
    display:flex;
    flex-direction: column;
    align-items: center;
    padding: 0;

}

.main-movies{
    margin-top: 15px;
    color: #ffe601;
}

.card-movie{
    height: 550px;
    width: 250px;
    background-color: rgba(0,0,0,0.6);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 10px;
    border-radius: 3px;
    box-shadow: 0px 1px 2px 1px black;
}

.movie__title{
    margin-top: 10px;
    text-align: center;
}

.movie__title .title{
    font-size: 19px;
    color: #f08000;
}

.movie__img{
    width: 100px;
    height: 250px;
}

.movie__info{
    padding: 10px;
    font-size: 18px;
    text-align: justify;
    color: white;
}

.movie-list{
    padding: 0;
}
